# Dependencies
node_modules
dist
dist-ssr

# Tauri
src-tauri/target
src-tauri/Cargo.lock

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Debug
*.log
npm-debug.log*

# Signing + backups
src-tauri/.tauri-signing.key
*.rmbackup
src-tauri/gen/schemas
